input{
    margin-top: 10px;
}

.col-md-4{
    margin-top: 150px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    padding: 20px;
    border-radius: 5px;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    
}