body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.col-md-5{
  margin-top: 200px !important;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

input{
  width: 75% !important;
}
button{
  width: 100% !important;
  background-color: rgb(6, 6, 113) !important;
  border-color: white;
  color: white !important;
  font-weight: bold;
}
h1{
  font-weight: bold !important;
}
